.python-logo {
    height: 150px;
    width: 180px;
}
.java-logo {
    height: 150px;
    width: 150px;
}
.spring-logo {
    width: 220px;
    height: 220px;
}
.git-logo {
    width: 250px;
    height: 250px;
}
.html-logo {
    width: 200px;
    height: 100px;
    /* margin-bottom: 5px; */
}
.css-logo {
    width: 100px;
    height: 100px;
    /* margin-bottom: 5px; */
}
.js-logo {
    width: 280px;   
    height: 130px;
}
.postgresql-logo {
    width: 180px;
    height: 180px;
    /* margin-bottom: 5px; */
}
.c-logo {
    width: 150px;
    height: 150px;
    /* margin-bottom: 5px; */
}
.logos {
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: space-evenly;
    /* margin-bottom: 4%; */
}
.logo-card {
    /* padding-top: 20px; */
    width: 180px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* color: #F1E8E6; */
    font-size: 48px;
    /* transition: 0.5s; */
}
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0 10%; */
}
.skill-name{
    font-size: 50%;
}